<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body id="page-top">

	<div id="wrapper">
		<ul th:replace="layout :: frgNav"></ul>


<div class="breadcumb-area bg-img"
		th:style="'background-image:url(' + @{/img/bg-img/breadcumb.jpg} + ');'">
		<div class="bradcumbContent">
			<h2>Usuarios</h2>
		</div>
	</div>
	<div class="top-popular-courses-area mt-100 section-padding-100-70">
		<section class="contact-area mt-100">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="contact-content">
							<div class="row">
								<div class="col-12">
									<div class="row">
										<div class=col-10>
											<span>Contenido</span>
											<h4 th:text="${title}"></h4>
										</div>
									</div>

									<!-- ##### Tabs ##### -->
									<div class="col-12">
										<div class="academy-tabs-content">
											<ul class="nav nav-tabs" id="myTab" role="tablist">
												<li class="nav-item"><a class="nav-link active"
													id="tab--1" data-toggle="tab" href="#tab1" role="tab"
													aria-controls="tab1" aria-selected="false">Datos
														generales</a></li>
												<li class="nav-item"><a class="nav-link" id="tab--2"
													data-toggle="tab" href="#tab2" role="tab"
													aria-controls="tab2" aria-selected="false">Tipo de diseño</a>
												</li>
											</ul>

											<div class="tab-content mb-100" id="myTabContent">
												<div class="tab-pane fade show active" id="tab1"
													role="tabpanel" aria-labelledby="tab--1">
													<div class="academy-tab-content">
														<!-- Tab Text -->
														<div class="academy-tab-text">
															<div class="contact-form-area wow fadeInUp"
																data-wow-delay="500ms">
																<form th:object="${usuario}" method="post">
																	<div class="row d-flex align-items-center">
																		<div class="col-1">
																			<i class="far fa-address-card fa-2x"></i>
																		</div>
																		<div class="col-5">
																			<input type="text" class="form-control"
																				th:field="*{idusuario}" readonly />
																		</div>
																		<div class="col-1">
																			<i class="far fa-address-book fa-2x"></i>
																		</div>
																		<div class="col-5">
																			<input type="text" class="form-control"
																				th:field="*{nombre}" readonly />
																		</div>
																	</div>
																	<div class="row d-flex align-items-center">
																		<div class="col-1">
																			<i class="fas fa-user-tie fa-2x"></i>
																		</div>
																		<div class="col-5">
																			<input type="text" class="form-control"
																				th:field="*{habilitado}" readonly />
																		</div>
																		<div class="col-1">
																			<i class="fas fa-user-tie fa-2x"></i>
																		</div>
																		<div class="col-5">
																			<input type="text" class="form-control"
																				th:field="*{nombres}" readonly />
																		</div>
																	</div>
																	<div class="row d-flex align-items-center">
																		<div class="col-1">
																			<i class="fas fa-phone fa-2x"></i>
																		</div>
																		<div class="col-5">
																			<input type="text" class="form-control"
																				th:field="*{telefono}" readonly />
																		</div>
																		<div class="col-1">
																			<i class="fas fa-at fa-2x"></i>
																		</div>
																		<div class="col-5">
																			<input type="text" class="form-control"
																				th:field="*{correo}" readonly />
																		</div>
																	</div>
																	<input type="hidden" th:field="*{idusuario}" />
																</form>
															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane fade" id="tab2" role="tabpanel"
													aria-labelledby="tab--2">
													<div class="academy-tab-content">
														<button id="btnAdd" class="btn btn-sm academy-btn btn-3" data-toggle="modal" data-target="#modalPedidos">
																<i class="fas fa-plus-circle"></i>&nbsp;Nuevo</button>
														<!-- Tab Text -->
														<div class="academy-tab-text" id="listPedidos">
															<table class="table table-hover">
															<thead class="bg-ligth">
																<tr>
																	<th>Nombre proyecto</th>
																	<th>Web inspiracion</th>
																	<th>Plazo</th>
																	<th>Presupuesto</th>
																	<th>Donde usara</th>
																	<th>Algo mas</th>
																	<th>Fecha pedido</th>
																	<th>Descripcion</th>
																	<th><a class="btn btn-sm academy-btn btn-3"><i class="fas fa-plus-circle"></i>&nbsp;Nuevo</a></th>
																
																</tr>
															</thead>
															
															</table>
														</div>
													</div>
												</div>
												<div class="tab-pane fade" id="tab3" role="tabpanel"
													aria-labelledby="tab--3">
													<div class="academy-tab-content">
														<!-- Tab Text -->
														<div class="academy-tab-text">
															<p>Integer nec bibendum lacus. Praesent malesuada
																congue, Suspendisse dictum enim sit amet libero malesu
																ada feugiat. Praesent malesuada congue magna at finibus.
																In hac habitasse platea dictumst. Curabitur rhoncus
																auctor eleifend. Praesent malesuada congue.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
		
		<div class="modal fade" id="modalPedidos" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Agregar nuevo pedido</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div id="contentPedidos"
					class="modal-body contact-area contact-content-modal"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm academy-btn btn-3">Guardar</button>
					<button type="button" class="btn btn-sm academy-btn btn-2"
						data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>
											

			<footer th:replace="layout :: frgFooter"></footer>
<div th:replace="layout :: frgScripts"></div>
<script th:src="@{/js/usuario/card-usuario.js}"></script>
		</div>



</body>
</html>